<div id="page-content">
    <div class="container">
        <div class="continer-fluid bg-dark text-light p-5 splash" id="home-container">
            <div class="container bg-dark p-5 text-center">
                <h1 class="display-4">Alpha Blog X</h1>
                <hr>
                <p>Come on and blog your thoughts</p>
                <a class="btn btn-primary btn-lg" href="#">Click this</a>
            </div>
        </div>
        <footer class="footer mt-auto py-3 bg-info">
            <div class="container text-center text-white">
                <small>Copyright &copy; <%= link_to  "Google", "https://google.com", class: "text-white" %></small>
            </div>
        </footer>
    </div>
</div>